.Container_Slider {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.Wrapper_Slider {
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
    /* transform: translateX(slideIndex ) */
}

.Slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #F5FAFD
}

.ImgContainer {
    height:100%;
    flex: 1;
}

.Image {
    height: 20%;
}

/* .Image img {
   max-width: 1500px;
   max-height: 1500px;
} */

.InfoContainer {
    flex: 1;
    padding: 50px;
}

.Arrow {
    width: 50px;
    height: 50px;
    background-color: #fff7ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin:auto;
    cursor: pointer;
    opacity: 0.6;
    z-index: 2;
}

.Arrow_left {
    left: 10px;
}
.Arrow_right {
    right: 10px;
}

.Title {
    font-size: 50px;
}

.Description {
    margin: 50px 0px;
    font-size: 20px;
    font-weight:500;
    letter-spacing: 2px;
}

.Button {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    margin: 30px;
}

.B5EAD7 {
    background-color: #B5EAD7;
}

.E2F0CB {
    background-color:#E2F0CB;
}

